        @-webkit-viewport { width: device-width; }
        @-moz-viewport    { width: device-width; }
        @-ms-viewport     { width: device-width; }
        @-o-viewport      { width: device-width; }
        @viewport         { width: device-width; }

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

navbar-header {
    line-height:30px;
    background-color:black;
    height:100vh;
    width:100px;
    float:left;
    padding:5px;
}

