
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

navbar-header {
    line-height:30px;
    background-color:#eeeeee;
    height:100vh;
    width:100px;
    float:left;
    padding:5px;
}

